<div id="intro" class="view">
    <div class="full-bg-img">
          
      <div id="formstyle">
        
<div class="view" id="imagenpuma"></div>

<div class="col">
  <mat-form-field class="example-full-width">
          <input ID="usuario" type="text" name="usuario"
          class="input"  matInput placeholder="Usuario" required>
  </mat-form-field>
</div>
      
<div>
    <div class="col">
        <mat-form-field class="example-full-width">
                <input id="password" type="password" name="password" 
                class="input"  matInput placeholder="Ingrese su contraseña" >
        </mat-form-field>
      </div>
      <div class="col">
          <mat-form-field class="example-full-width">
                  <input  id="confPass" type="password" pattern="{{password}}" name="confPass"
                  class="input"  matInput placeholder="Confirme su contraseña">
          </mat-form-field>
          <div *ngIf="confPassvalidityMsg.invalid && (confPassvalidityMsg.dirty || confPassvalidityMsg.touched)" >
            <div *ngIf="confPassvalidityMsg.errors.pattern" class="errorverificacion">Las contraseñas no coinciden</div>
        </div>      
  </div> 
</div>


<div class="col">
  <mat-form-field class="example-full-width">
          <input  ID="usuario" type="text" name="usuario"
          class="input"  matInput placeholder="Ingrese el nombre completo" required>
  </mat-form-field>
</div>

<div class="col">
    <mat-form-field class="example-full-width">
            <input ID="usuario"  name="usuario" type="text" 
            maxlength="13" minlength="13"  oninput="if(this.value.length > this.maxLength)
             this.value = this.value.slice(0, this.maxLength);" step="1"
            
            class="input" required matInput  placeholder="ingrese el número de identidad"  >
    </mat-form-field>
  </div>

    
<div >
<label class="label">Especialidad</label>
<p><select id = "select" name="miselect" >
<option [value]="item" *ngFor="let item of lista">{{item}}</option>
</select></p>
</div> 

          
                 
          <button  (click)="save()"   class="boton" >crear</button>      
      </div>
    </div>
  </div>   

  