<div id="intro" class="view">
    <div class="full-bg-img">
          
      <div id="formstyle">
        
             <div class="view" id="imagenpuma"></div>
  
             <div class="col">
                <mat-form-field class="example-full-width">
                        <input ID="usuario" type="text" name="usuario"
                        class="input"  matInput placeholder="Usuario" required>
                </mat-form-field>
              </div>
                    
            <div>
                  <div class="col">
                      <mat-form-field class="example-full-width">
                              <input ID="usuario" type="text" name="usuario"
                              class="input"  matInput placeholder="Ingrese su contraseña" ngModel passwordToggle required>
                      </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="example-full-width">
                                <input ID="usuario" type="text" name="usuario"
                                class="input"  matInput placeholder="Confirme su contraseña" ngModel passwordToggle required>
                        </mat-form-field>
                      </div>      
                </div> 


                <div class="col">
                    <mat-form-field class="example-full-width">
                            <input ID="usuario" type="text" name="usuario"
                            class="input"  matInput placeholder="Ingrese el nombre completo" required>
                    </mat-form-field>
                  </div>
              
                  <div class="col">
                      <mat-form-field class="example-full-width">
                              <input ID="usuario"  name="usuario" type="number" 
                              maxlength="13" minlength="13"  oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                              
                              class="input"  matInput  placeholder="ingrese el número de identidad"  required>
                      </mat-form-field>
                    </div>

                      
             <div >
            <label class="label">Especialidad</label>
              <p><select id = "select" name="miselect" [(ngModel)]="seleccionado">
                <option [value]="item" *ngFor="let item of lista">{{item}}</option>
                </select></p>
            </div> 

          
                 
          <button  (click)="saveLoginAdmin()"   class="boton" >crear</button>      
      </div>
    </div>
  </div>   

  