<span style=" display: block;
font-family: Poppins-Regular,sans-serif;
font-size: 30px;
color: #333;
line-height: 1.2;
text-align: center;
padding: 20px;">
    <strong>Cambio de contraseña</strong>
  </span>



    <p>Una contraseña segura contribuye a evitar el acceso no autorizado a tu cuenta </p>

    <form [formGroup]="CambioContrasenia">
  
      <div>
            <mat-form-field style="width: 100%;" appearance="outline">    
              <mat-label>
                <b>Contraseña</b>
              </mat-label>            
                <input matInput  (keydown)="onKeydown($event)" 
                placeholder="Ingresa tu nueva contraseña" [type]="hide1 ? 'text' : 'password'"
                formControlName="nuevaContraCambio">
                <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide1 ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </button>
                <mat-error *ngIf="nuevaContraCambio.hasError('required') ">ingrese la contraseña</mat-error>
                <mat-error *ngIf="nuevaContraCambio.hasError('maxLength') ">contraseña muy extensa</mat-error>
                <mat-error *ngIf="nuevaContraCambio.hasError('minLength') ">contraseña muy corta</mat-error>
              </mat-form-field>
  
      <br>
              <mat-form-field style="width: 100%;" appearance="outline">  
                <mat-label>
                   <b>Confirmación</b>
                </mat-label>              
                  <input matInput (keydown)="onKeydown($event)" 
                  placeholder="Verifica tu contraseña" [type]="hide ? 'password' : 'text'"
                  formControlName="nuevaContraRepCambio">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                  <mat-error *ngIf="nuevaContraRepCambio.hasError('required') ">ingrese la contraseña!</mat-error>
                  <mat-error *ngIf="nuevaContraRepCambio.hasError('maxLength') ">contraseña muy extensa</mat-error>
                  <mat-error *ngIf="nuevaContraRepCambio.hasError('minLength') ">contraseña muy corta</mat-error>
                </mat-form-field>

      </div>
  
  
  
              <div style="position: inherit; bottom: 10px;right: 15px;" >
              <button mat-raised-button (click)="guardarCambio()" class="btn btn-outline-primary float-right botonperron">Guardar</button>
              <button  mat-raised-button (click)="cancelarCambio()" class="btn btn-outline-primary float-right botonperron" style="margin-right: 10px;">Cancelar</button>
              </div>
      </form>



  
 
