
.container {
  color: black;
  
}

.mat-icon-button{
  position: absolute;
  right:20px;
}


.example-full-width {
  width: 100%;
}

.mat-card{
  margin-top: 40px;
}


.img{
  height: 140px;
  width: 115px;
  background-size: cover;
  background-position: center;

}

.sinImg{
  height: 140px;
  width: 115px;
  background:url('src/imagenes/image_user.png');
  background-size: cover;
  background-position: center;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

#new-color{
  background-color: #21D4FD;
  background-image: linear-gradient(90deg, #21D4FD 0%, #B721FF 100%);
}
