
.container {
  color: black;
  
}

.mat-icon-button{
  position: absolute;
  right:20px;
}


.example-full-width {
  width: 100%;
}

.mat-card{
  margin-top: 40px;
}

.toolbar{
  background:  rgb(104, 71, 250);
  color: snow;
}

.img{
  height: 140px;
  width: 115px;
  background-size: cover;
  background-position: center;

}

.sinImg{
  height: 140px;
  width: 115px;
  background:url('src/imagenes/image_user.png');
  background-size: cover;
  background-position: center;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

