
.container {
  
  height: 89%;
  min-width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  overflow: auto;
  position: absolute;
  overflow-x: hidden;  
  
}

.mat-icon-button{
  position: absolute;
  right:20px;
}


.example-full-width {
  width: 100%;
}

.mat-card{
  /* margin-top: 10px; */
}


.img{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-color: khaki;

}

.sinImg{
  height: 140px;
  width: 115px;
  background:url('src/imagenes/image_user.png');
  background-size: cover;
  background-position: center;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

#new-color{
  background-color: #21D4FD;
  background-image: linear-gradient(90deg, #21D4FD 0%, #B721FF 100%);
}
