<div class="container">
    <mat-card>
            
            <div class="row">
                <div class="col-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Nombre" value="{{paciente.primer_nombre}} {{paciente.segundo_nombre}}" readonly>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Apellido" value="{{paciente.primer_apellido}} {{paciente.segundo_apellido}}" readonly>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Numero de cuenta" value="{{paciente.numero_cuenta}}" readonly >
                        </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Centro" value="UNAHTEC Danli" readonly>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Carrera" value="{{paciente.carrera}}" readonly>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Sexo" value="{{paciente.sexo}}" readonly>
                        </mat-form-field>
                </div>
            </div>  
        
    </mat-card>
    <br/>
    <div>
        <mat-card> 
            <mat-tab-group>
            <mat-tab label="Citas"></mat-tab>
            <mat-tab label="Tratamientos"> Content 2 </mat-tab>
            <mat-tab label="Indicaciones"> Content 3 </mat-tab>
            <mat-tab label="Ayuda"> Content 3 </mat-tab>
            </mat-tab-group>
        </mat-card> 
    </div>       
</div>
