<mat-toolbar>        
        <mat-toolbar-row class="toolbar"> 
            <span>Clinica UNAH-tec Danli</span>
            <span class="example-spacer"></span>
            <span class="example-fill-remaining-space"></span>
            <button mat-button>Basic</button>

        </mat-toolbar-row>
    </mat-toolbar>


<div class="container">

   
    <mat-card>
            
            <div class="row">
                <div class="col-2">
                    <img class="img" src={{paciente.imagen}}/>
                </div>
                <div class="col">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Nombre" value="{{paciente.nombre_completo}}" readonly>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Identidad" value="{{paciente.numero_identidad}}" readonly>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Numero de cuenta" value="{{paciente.numero_cuenta}}" readonly >
                        </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Centro" value="UNAHTEC Danli" readonly>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Carrera" value="{{paciente.carrera}}" readonly>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Sexo" value="{{paciente.sexo}}" readonly>
                        </mat-form-field>
                </div>
            </div>  
        
    </mat-card>
    <br/>
    <div>
        <mat-card> 
            <mat-tab-group>
            <mat-tab label="Citas"></mat-tab>
            <mat-tab label="Tratamientos"> Content 2 </mat-tab>
            <mat-tab label="Indicaciones"> Content 3 </mat-tab>
            <mat-tab label="Ayuda"> Content 3 </mat-tab>
            </mat-tab-group>
        </mat-card> 

    </div>       
</div>
