<div *ngIf="Listo==false" > 
<h2 mat-dialog-title disableClose >Cambio de contraseña</h2>
<mat-dialog-content class="mat-typography">
  <h3>Una vez finalizado esto, podrás ingresar a la página usando tu número de cuenta de la UNAH y la contraseña que a continuación ingresarás</h3>

  <h3>Recuerda usar caracteres y números para hacer tu contraseña más confiable</h3>
  <form [formGroup]="Nueva">

          <mat-form-field class="example-full-width">                
              <input matInput  (keydown)="onKeydown1($event)" 
              placeholder="Ingrese su nueva contraseña" [type]="hide1 ? 'text' : 'password'"
              formControlName="nuevaContra">
              <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                  </button>
              <mat-error *ngIf="nuevaContra.hasError('required') ">ingrese la contraseña!</mat-error>
            </mat-form-field>

<br>
            <mat-form-field class="example-full-width">                
                <input matInput (keydown)="onKeydown($event)" 
                placeholder="Repita su contraseña" [type]="hide ? 'password' : 'text'"
                formControlName="nuevaContraRep">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                <mat-error *ngIf="nuevaContraRep.hasError('required') ">ingrese la contraseña!</mat-error>
              </mat-form-field>

    </form>
    
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="guardar()">guardar</button>
</mat-dialog-actions>
</div>

<div *ngIf="Listo==true"> 
    <h1 mat-dialog-title disableClose >Bienvenido al Portal de la clinica UNAH</h1>
    <mat-dialog-content class="mat-typography">
      <div class="view" id="check" style="
        height: 200px;
        width:200px;
        margin:0px;
        background: url('src\imagenes\pumitafinal.jpg');
        "></div>
      <h3>Ahora tienes que avocarte a la Clinica de manera personal para terminar tu expediente </h3>
    
      <h3>Aqui veras tus tratamientos, citas, indicaciones y ayuda que te brindaran una vez vez que visites la Clinica</h3>
      
        
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button  mat-dialog-close>Comenzar</button>
    </mat-dialog-actions>
    </div>