<span style=" display: block;
font-family: Poppins-Regular,sans-serif;
font-size: 30px;
color: #333;
line-height: 1.2;
text-align: center;
padding: 20px;">
    <strong>Cambio de contraseña</strong>
  </span>
 
    <p>Para continuar, primero debes verificar que eres tú</p>




    <form [formGroup]="CambioContrasenia">
      <div>
        <mat-form-field style="width: 100%;" appearance="outline">                
            <input matInput  (keydown)="onKeydown($event)" 
            placeholder="Ingresa tu contraseña" [type]="hide1 ? 'text' : 'password'"
            formControlName="viejacontra">
            <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide1 ? 'visibility' : 'visibility_off'}}</mat-icon>
                </button>
            <mat-error *ngIf="viejacontra.hasError('maxLength') ">contraseña muy extensa</mat-error>
            <mat-error *ngIf="viejacontra.hasError('minLength') ">contraseña muy corta</mat-error>
          </mat-form-field>
          </div>

          <div style="position: inherit; bottom: 10px;right: 15px;">
            <button mat-raised-button (click)="pasarotrodialogo()" class="btn btn-outline-primary float-right botonperron">
                Verificar</button>
        </div>

  </form>
  
