<div class="container">
    <mat-card>
        <h5>Informacion Paciente</h5>
            
            <div class="row">
                <div class="col-6">
                           <h6>Nombre:{{ paciente[0].primer_nombre }} {{ paciente[0].segundo_nombre }} </h6>
                           <h6>No. de cuenta:{{ paciente[0].numero_cuenta}}</h6>
                           <h6>Carrera:{{paciente[0].carrera}}</h6>
                           <h6>Sexo:{{paciente[0].sexo}}</h6>
                          
                </div>
                <div class="col-6">
                        <h6>Apellidos: {{paciente[0].primer_apellido }} {{paciente[0].segundo_apellido}}</h6>
                        <h6>Edad:</h6>
                        <h6>Coro:</h6>
                        <h6>Centro:</h6>
                </div>
            </div>  
        
    </mat-card>
    </div>
