<div class="container">
    <mat-card>
        <h5>Informacion Paciente</h5>
            <form class="example-form">
            <div class="row">
                <div class="col-6">
                           <h6>Nombre:{{paciente.primer_nombre }} {{paciente.segundo_nombre}} </h6>
                           <h6>No. de cuenta:{{paciente.numero_cuenta}}</h6>
                           <h6>Carrera:{{paciente.carrera}}</h6>
                           <h6>Sexo:{{paciente.sexo}}</h6>
                          
                </div>
                <div class="col-6">
                        <h6>Apellidos: {{paciente.primer_apellido }} {{paciente.segundo_apellido}}</h6>
                        <h6>Edad:</h6>
                        <h6>Coro:</h6>
                        <h6>Centro:</h6>
                </div>
            </div>  
        </form>
    </mat-card>
    </div>
