<mat-toolbar class="toolbar">
    <span>Clinica UNAH-TEC Danli</span>


    <button mat-icon-button [matMenuTriggerFor]="menu" >
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon >dialpad</mat-icon>
            <span>Añadir cita</span>
        </button>
        <button mat-menu-item disabled>
            <mat-icon > voicemail</mat-icon>
            <span>Historia clinica</span>
        </button>
        <button mat-menu-item>
            <mat-icon >notifications_off</mat-icon>
            <span>Ver citas</span>
        </button>
        <button mat-menu-item>
            <mat-icon >notifications_off</mat-icon>
            <span>Añadir historia subsiguiente</span>
        </button>
    </mat-menu> 
      
        
    
</mat-toolbar>

  <div class="container"> 
    <mat-card>
      <div class="row">

        <div class="col-2">
          <img *ngIf="noImg==true" class="sinImg"/>
          <img *ngIf="noImg == false" class="img" src={{paciente.imagen}}/>
        </div>

            <div class="col">
                <mat-form-field class="example-full-width">
                    <input matInput value={{paciente.nombre_completo}} placeholder="Nombre"  [readonly]="readonly">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput value={{paciente.numero_telefono}} placeholder="Numero de Telefono" [readonly]="readonly">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput value="{{paciente.numero_cuenta}}" placeholder="Numero de cuenta"  [readonly]="readonly" >
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="example-full-width">
                    <input matInput value={{paciente.numero_identidad}} placeholder="Numero identidad" [readonly]="readonly">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput value={{paciente.carrera}} placeholder="Carrera" [readonly]="disable">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput value={{paciente.sexo}} placeholder="Sexo" [readonly]="readonly">
                </mat-form-field>
            </div>
        </div>  
    </mat-card>

    <mat-accordion class="example-headers-align">


        <mat-expansion-panel [expanded]="step===0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Datos Generales
              </mat-panel-title>
              <mat-panel-description>
                Visualiazar datos generales del paciente
                <!-- <mat-icon>account_circle</mat-icon> -->
              </mat-panel-description>
          </mat-expansion-panel-header>
        
          <div *ngIf="esAlumno === true">

            
            <form [formGroup]="formulario_datos_generales" >               
              <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width" >
                    <input matInput 
                    formControlName= "nombre_completo"  
                    placeholder="Nombre Completo" 
                    [readonly]="readonly"
                    >
                    
                    <mat-error *ngIf="nombre_completo.hasError('required')">campo requerido!</mat-error>
                    <mat-error *ngIf="nombre_completo.hasError('pattern')">ingrese un apellido valido!</mat-error>
        
                  </mat-form-field>
                </div>
                
              </div>
        
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <input matInput
                      formControlName= "numero_cuenta" 
                      placeholder="N° Cuenta" 
                      [readonly]="readonly"
                      >
                    <!-- <mat-hint align="end">{{numero_cuenta.value.length}} / 11</mat-hint> -->
                    <mat-error *ngIf="numero_cuenta.hasError('required')">campo requerido!</mat-error>
                    <mat-error *ngIf="numero_cuenta.hasError('pattern')">ingrese un numero de cuenta valido!</mat-error>
        
        
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <input matInput
                      formControlName= "numero_identidad" 
                      placeholder="N° Identidad"
                      [readonly]="readonly" 
                      >
                    <!-- <mat-hint align="end">{{numero_identidad.value.length}} / 13</mat-hint> -->
                    <mat-error *ngIf="numero_identidad.hasError('required')">campo requerido!</mat-error>
                    <mat-error *ngIf="numero_identidad.hasError('pattern')">ingrese un numero de indentidad valido!</mat-error>
        
                    </mat-form-field>
                  </div>
                </div>
                  
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <input matInput 
                      formControlName= "lugar_procedencia" 
                      name="lugar_procedencia" 
                      placeholder="Lugar de Procedencia"
                      [readonly]="readonly"
                      >                      
                    <mat-error *ngIf="lugar_procedencia.hasError('required')">campo requerido!</mat-error>
                    <mat-error *ngIf="lugar_procedencia.hasError('pattern')">ingrese datos validos!</mat-error>
                    
        
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <input matInput 
                      formControlName= "carrera" 
                      name="carrera" placeholder="Carrera" 
                      [readonly]="readonly"
                      >
                    <mat-error *ngIf="carrera.hasError('required')">campo requerido!</mat-error>
                    <mat-error *ngIf="carrera.hasError('pattern')">ingrese datos validos!</mat-error>
        
        
                    </mat-form-field>
                  </div>
                </div>
          
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <input matInput 
                      formControlName= "direccion" 
                      name="direccion"
                      placeholder="Direccion"
                      [readonly]="readonly"
                      >                      

                    <mat-error *ngIf="direccion.hasError('required')">campo requerido!</mat-error>
                    <mat-error *ngIf="direccion.hasError('maxlength')">campo muy extenso!</mat-error>
                    
        
                    </mat-form-field>
                  </div>
                  <div class="col">

                    <mat-form-field class="example-full-width" *ngIf="readonly">
                        <input matInput matInput
                        formControlName= "fecha_nacimiento"  
                        placeholder="Fecha nacimiento"
                        [readonly]="readonly"
                        >                                 
                        
                    </mat-form-field>

                    <mat-form-field class="example-full-width" *ngIf="!readonly">
                      <input matInput [min]="minDate" [max]="maxDate"
                      [matDatepicker]="picker1"
                      formControlName= "fecha_nacimiento" placeholder="Fecha Nacimiento"
                      [readonly]="readonly"
                      >                      
                      
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    <mat-error *ngIf="fecha_nacimiento.hasError('required')">campo requerido!</mat-error>
        
                    </mat-form-field>
                  </div>
                </div>    
          
                  
                
                <div class="row">
                  <div class="col"> 

                      <mat-form-field class="example-full-width" *ngIf="readonly">
                          <input matInput matInput
                          formControlName= "sexo"  
                          placeholder="Sexo"
                          [readonly]="readonly"
                          >                                 
                          
                      </mat-form-field>
                    
                    <mat-form-field class="example-full-width" *ngIf="!readonly">
                      <mat-label>Sexo</mat-label>
                        <mat-select formControlName= "sexo"
                        readonly="readonly"
                        >

                          <mat-option value="Hombre">Hombre</mat-option>
                          <mat-option value="Mujer">Mujer</mat-option>
                          
                      </mat-select>
                      <mat-error *ngIf="sexo.hasError('required')">campo requerido!</mat-error>
        
                    </mat-form-field>
                  </div>
          
          
                  <div class="col"> 

                    <mat-form-field class="example-full-width" *ngIf="readonly">
                      <input matInput matInput
                      formControlName= "seguro_medico"  
                      placeholder="Seguro médico"
                      [readonly]="readonly"
                      >                                 
                      
                    </mat-form-field>

                    <mat-form-field class="example-full-width" *ngIf="!readonly">
                      <mat-label>Seguro médico</mat-label>
                      <mat-select 
                      formControlName= "seguro_medico" 
                      readonly="readonly"
                      >

                        <mat-option *ngFor="let seguro_medico of seguros_medicos" [value]="seguro_medico.value">
                          {{seguro_medico.viewValue}}
                        </mat-option>
                      </mat-select>
                    <mat-error *ngIf="seguro_medico.hasError('required')">campo requerido!</mat-error>
        
                    </mat-form-field>
                  </div>
          
                  

                  <div class="col"> 

                    <mat-form-field class="example-full-width" *ngIf="readonly">
                        <input matInput matInput
                        formControlName= "estado_civil"  
                        placeholder="Estado civil"
                        [readonly]="readonly"
                        >                                 
                      
                    </mat-form-field>

                    <mat-form-field  class="example-full-width" *ngIf="!readonly">
                      <mat-label>Estado civil</mat-label>
                      <mat-select 
                      formControlName= "estado_civil"
                      readonly="readonly"
                      >

                        <mat-option *ngFor="let estado_civil of estados_civiles" [value]="estado_civil.value">
                          {{estado_civil.viewValue}}
                        </mat-option>
                      </mat-select>
                    <mat-error *ngIf="estado_civil.hasError('required')">campo requerido!</mat-error>
        
                    </mat-form-field>
                  </div>
                </div>
          
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <input matInput matInput
                      formControlName= "numero_telefono"  
                      name="numero_telefono" 
                      id="telefono" 
                      placeholder="N° Telefono"
                      [readonly]="readonly"
                      >
                      
                      <mat-error *ngIf="numero_telefono.hasError('required')">campo requerido!</mat-error>
                      <mat-error *ngIf="numero_telefono.hasError('pattern')">introduzca un numero de telefono valido!</mat-error>
        
                    
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <input matInput 
                      formControlName= "emergencia_telefono" 
                      name="emergencia_telefono" 
                      placeholder="Telefono de emergencia"
                      [readonly]="readonly"
                      >
                      
                      <mat-error *ngIf="emergencia_telefono.hasError('required')">campo requerido!</mat-error>
                      <mat-error *ngIf="emergencia_telefono.hasError('pattern')">introduzca un numero de telefono valido!</mat-error>
        
                    </mat-form-field>
                  </div>
                </div>
                <button mat-raised-button
                  class="btn btn-outline-primary float-right"
                  style="margin-top: 10px;"
                  (click)="readonly = !readonly; culitoPelado()">
                  {{!readonly ? 'Guardar' : 'Editar'}}
                </button>

            </form>
          </div>













          <div *ngIf="esAlumno === false"> 



            <form [formGroup]="formulario_datos_generales">
              <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width" >
                    <input matInput 
                    formControlName= "nombre_completo"  
                    placeholder="Nombre Completo" 
                    [readonly]="readonly"
                    >
                    
                    <mat-error *ngIf="nombre_completo.hasError('required')">campo requerido!</mat-error>
                    <mat-error *ngIf="nombre_completo.hasError('pattern')">ingrese un apellido valido!</mat-error>
        
                  </mat-form-field>
                </div>
                  
              </div>
          
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <input matInput 
                      formControlName= "numero_identidad" 
                      placeholder="N° Identidad"  
                      [readonly]="readonly"
                      >
                    <!-- <mat-hint align="end">{{numero_identidad.value.length}} / 13</mat-hint> -->
                    <mat-error *ngIf="numero_identidad.hasError('required')">campo requerido!</mat-error>
                    <mat-error *ngIf="numero_identidad.hasError('pattern')">ingrese un numero de indentidad valido!</mat-error>
        
                    </mat-form-field>
                  </div>
                </div>
                    
                <div class="row">

                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <input matInput 
                      formControlName= "lugar_procedencia" 
                      name="lugar_procedencia" 
                      placeholder="Lugar de Procedencia"
                      [readonly]="readonly"
                      >
                    <mat-error *ngIf="lugar_procedencia.hasError('required')">campo requerido!</mat-error>
                    <mat-error *ngIf="lugar_procedencia.hasError('pattern')">ingrese datos validos!</mat-error>
                    
        
                    </mat-form-field>
                  </div>

                  <div class="col"> 

                    <mat-form-field class="example-full-width" *ngIf="readonly">
                      <input matInput matInput
                      formControlName= "categoria"  
                      placeholder="Categoría"
                      [readonly]="readonly"
                      >                                 
                        
                    </mat-form-field>

                    <mat-form-field class="example-full-width" *ngIf="!readonly">
                      <mat-label>Categoria Paciente</mat-label>
                        <mat-select 
                        formControlName= "categoria"
                        readonly="readonly"
                        >

                        <mat-option *ngFor="let categoria of categorias" [value]="categoria.value">
                            {{categoria.viewValue}}
                          </mat-option>
                      </mat-select>
                      <mat-error *ngIf="categoria.hasError('required')">campo requerido!</mat-error>
        
                    </mat-form-field>
                  </div>
                </div>
            
                <div class="row">

                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <input matInput 
                      formControlName= "direccion" 
                      name="direccion"
                      placeholder="Direccion"
                      [readonly]="readonly"
                      >
                    <mat-error *ngIf="direccion.hasError('required')">campo requerido!</mat-error>
                    <mat-error *ngIf="direccion.hasError('maxlength')">campo muy extenso!</mat-error>
                    
        
                    </mat-form-field>
                  </div>

                  <div class="col">
                      <mat-form-field class="example-full-width" *ngIf="readonly">
                          <input matInput matInput
                          formControlName= "fecha_nacimiento"  
                          placeholder="Fecha nacimiento"
                          [readonly]="readonly"
                          >                                 
                          
                      </mat-form-field>
  
                      <mat-form-field class="example-full-width" *ngIf="!readonly">
                        <input matInput [min]="minDate" [max]="maxDate"
                        [matDatepicker]="picker1"
                        formControlName= "fecha_nacimiento" placeholder="Fecha Nacimiento"
                        [readonly]="readonly"
                        >                      
                        
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      <mat-error *ngIf="fecha_nacimiento.hasError('required')">campo requerido!</mat-error>
          
                      </mat-form-field>
                  </div>
                </div>    
              
                <div class="row">

                  <div class="col"> 
                      <mat-form-field class="example-full-width" *ngIf="readonly">
                          <input matInput matInput
                          formControlName= "sexo"  
                          placeholder="Sexo"
                          [readonly]="readonly"
                          >                                 
                          
                      </mat-form-field>
                    
                    <mat-form-field class="example-full-width" *ngIf="!readonly">
                      <mat-label>Sexo</mat-label>
                        <mat-select formControlName= "sexo"
                        readonly="readonly"
                        >

                          <mat-option value="Hombre">Hombre</mat-option>
                          <mat-option value="Mujer">Mujer</mat-option>
                          
                      </mat-select>
                      <mat-error *ngIf="sexo.hasError('required')">campo requerido!</mat-error>
        
                    </mat-form-field>
                  </div>

                  <div class="col"> 
                    <mat-form-field class="example-full-width" *ngIf="readonly">
                      <input matInput matInput
                      formControlName= "seguro_medico"  
                      placeholder="Seguro médico"
                      [readonly]="readonly"
                      >                                 
                      
                    </mat-form-field>

                    <mat-form-field class="example-full-width" *ngIf="!readonly">
                      <mat-label>Seguro médico</mat-label>
                      <mat-select 
                      formControlName= "seguro_medico" 
                      readonly="readonly"
                      >

                        <mat-option *ngFor="let seguro_medico of seguros_medicos" [value]="seguro_medico.value">
                          {{seguro_medico.viewValue}}
                        </mat-option>
                      </mat-select>
                    <mat-error *ngIf="seguro_medico.hasError('required')">campo requerido!</mat-error>
        
                    </mat-form-field>
                  </div>
            
                  <div class="col"> 
                    <mat-form-field class="example-full-width" *ngIf="readonly">
                        <input matInput matInput
                        formControlName= "estado_civil"  
                        placeholder="Estado civil"
                        [readonly]="readonly"
                        >                                 
                      
                    </mat-form-field>

                    <mat-form-field  class="example-full-width" *ngIf="!readonly">
                      <mat-label>Estado civil</mat-label>
                      <mat-select 
                      formControlName= "estado_civil"
                      readonly="readonly"
                      >

                        <mat-option *ngFor="let estado_civil of estados_civiles" [value]="estado_civil.value">
                          {{estado_civil.viewValue}}
                        </mat-option>
                      </mat-select>
                    <mat-error *ngIf="estado_civil.hasError('required')">campo requerido!</mat-error>
        
                    </mat-form-field>
                  </div>
                </div>
            
                <div class="row">

                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <input matInput 
                      formControlName= "numero_telefono"  
                      name="numero_telefono" id="telefono" 
                      placeholder="N° Telefono"
                      [readonly]="readonly"
                      >
                      <mat-error *ngIf="numero_telefono.hasError('required')">campo requerido!</mat-error>
                      <mat-error *ngIf="numero_telefono.hasError('pattern')">introduzca un numero de telefono valido!</mat-error>
        
                    
                    </mat-form-field>
                  </div>
                
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <input matInput 
                      formControlName= "emergencia_telefono" 
                      name="emergencia_telefono" 
                      placeholder="Telefono de emergencia"
                      [readonly]="readonly"
                      >
                      <mat-error *ngIf="emergencia_telefono.hasError('required')">campo requerido!</mat-error>
                      <mat-error *ngIf="emergencia_telefono.hasError('pattern')">introduzca un numero de telefono valido!</mat-error>
        
                    </mat-form-field>
                  </div>
                </div>
                <button mat-raised-button
                  class="btn btn-outline-primary float-right"
                  style="margin-top: 10px;"
                  (click)="readonly = !readonly; culitoPelado()">
                  {{!readonly ? 'Guardar' : 'Editar'}}
                </button>
              </form>


          </div>

          <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>

        







        
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
            <mat-expansion-panel-header>
            <mat-panel-title>
              Antecedentes familiares              
            </mat-panel-title>
            <mat-panel-description>
              Visualiazar Antecedentes familiares del paciente
                <!-- <mat-icon>map</mat-icon> -->
            </mat-panel-description>
            </mat-expansion-panel-header>


            <div *ngIf="readonly == true">
              <div>
                <table mat-table [dataSource]="tablaAntecedentesFamiliares" class="mat-elevation-z8">
                  <!-- Item Column -->
                  <ng-container matColumnDef="antecedente">
                    <th mat-header-cell *matHeaderCellDef> Antecedente </th>
                    <td mat-cell *matCellDef="let elemento"> {{elemento.antecedente}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                    
                    <!-- <td mat-footer-cell *matFooterCellDef> Total </td> -->
  
                  </ng-container>
                
                  <!-- Cost Column -->
                  <ng-container matColumnDef="valor">
                    <th mat-header-cell *matHeaderCellDef> Valor </th>
                    <td mat-cell *matCellDef="let elemento"> {{elemento.valor}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                    
                    <!-- <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td> -->
  
                  </ng-container>
  
                  <!-- columna descripcion -->
                  <ng-container matColumnDef="observacion">
                    <th mat-header-cell *matHeaderCellDef> Observación </th>
                    <td mat-cell *matCellDef="let elemento"> {{elemento.observacion}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
                </table>
      
              
                <button mat-raised-button
                  class="btn btn-outline-primary float-right"
                  style="margin-top: 10px;"
                  (click)="readonly = !readonly; culitoPelado()">
                  {{!readonly ? 'Guardar' : 'Editar'}}
                </button> 
              </div>
            </div>

              
            


            <div *ngIf="readonly == false">
              <form [formGroup]="formulario_antecedentes_familiares">
                <div>
                    <label id="example-radio-group-label">1. Diabetes</label>
                    <p><mat-radio-group formControlName= "diabetes"
                      aria-labelledby="example-radio-group-label"
                      class="example-radio-group" 
                      readonly="true">        
                        <mat-radio-button value="Si" (click)="triggerSomeEventSiB1()">Si</mat-radio-button> &nbsp;   
                        <mat-radio-button value="No" (click)="triggerSomeEventNoB1()">No</mat-radio-button>
                        <mat-error style="margin-inline-start: 5px;" *ngIf="diabetes.hasError('required')">campo requerido!</mat-error>
                      </mat-radio-group></p> 
                  </div>
                  <div> 
                    <mat-form-field>
                      <mat-label>Parentesco</mat-label>
                      <mat-select  formControlName= "observacion_diabetes" name="observacion_diabetes" [disabled]="isDisabledB1" >
                        <mat-option *ngFor="let parentesco of parentescos" [value]="parentesco.value">
                          {{parentesco.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    
                  </div>
          
                  <mat-divider></mat-divider>
          
                  <div>
                    <label id="example-radio-group-label">2. Tuberculosis Pulmonar</label>
                    <p><mat-radio-group formControlName= "tb_pulmonar"
                      aria-labelledby="example-radio-group-label"
                      class="example-radio-group">        
                        <mat-radio-button value="Si" (click)="triggerSomeEventSiB2()">Si</mat-radio-button> &nbsp;   
                        <mat-radio-button value="No" (click)="triggerSomeEventNoB2()">No</mat-radio-button>
                        <mat-error style="margin-inline-start: 5px;" *ngIf="tb_pulmonar.hasError('required')">campo requerido!</mat-error>
                      </mat-radio-group></p>
          
                  </div>
                  <div> 
                    <mat-form-field>
                      <mat-label>Parentesco</mat-label>
                      <mat-select formControlName= "observacion_tb_pulmonar" name="observacion_tb_pulmonar" [disabled]="isDisabledB2">
                        <mat-option *ngFor="let parentesco of parentescos" [value]="parentesco.value">
                          {{parentesco.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
          
                  <mat-divider></mat-divider>
                  
                  <div> 
                    <label id="example-radio-group-label">3. Desnutrición</label>
                    <p><mat-radio-group formControlName= "desnutricion"
                      aria-labelledby="example-radio-group-label"
                      class="example-radio-group">        
                      <mat-radio-button value="Si" (click)="triggerSomeEventSiB3()">Si</mat-radio-button> &nbsp;   
                      <mat-radio-button value="No" (click)="triggerSomeEventNoB3()">No</mat-radio-button>
                      <mat-error style="margin-inline-start: 5px;" *ngIf="desnutricion.hasError('required')">campo requerido!</mat-error>
                    </mat-radio-group></p>
                  </div>
                  <div class="row">
                    <div class="col-md-3"> 
                      <mat-form-field>
                        <mat-label>Parentesco</mat-label>
                        <mat-select formControlName= "observacion_desnutricion" name="observacion_desnutricion" [disabled]="isDisabledB3">
                          <mat-option *ngFor="let parentesco of parentescos" [value]="parentesco.value">
                            {{parentesco.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
          
                    <div class="col-md-3"> 
                      <mat-form-field>
                        <mat-label>Tipo Desnutricion</mat-label>
                        <mat-select formControlName= "tipo_desnutricion" name="tipo_desnutricion" [disabled]="isDisabledB3">
                          <mat-option *ngFor="let desnutricion of desnutriciones" [value]="desnutricion.value">
                            {{desnutricion.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
          
                  <mat-divider></mat-divider>
          
                  <div>
                    <label id="example-radio-group-label">4. Enfermedades Mentales</label>
                    <p><mat-radio-group formControlName= "enfermedades_mentales" 
                      aria-labelledby="example-radio-group-label"
                      class="example-radio-group">   
                      <mat-radio-button value="Si" (click)="triggerSomeEventSiB4()">Si</mat-radio-button> &nbsp;   
                      <mat-radio-button value="No" (click)="triggerSomeEventNoB4()">No</mat-radio-button>
                      <mat-error style="margin-inline-start: 5px;" *ngIf="enfermedades_mentales.hasError('required')">campo requerido!</mat-error>
                    </mat-radio-group></p>
                  </div>
                  <div class="row">
                    <div class="col-md-3"> 
                      <mat-form-field>
                        <mat-label>Parentesco</mat-label>
                        <mat-select formControlName= "observacion_enfermedades_mentales" name="observacion_enfermedades_mentales" [disabled]="isDisabledB4">
                          <mat-option *ngFor="let parentesco of parentescos" [value]="parentesco.value">
                            {{parentesco.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
          
                    <div class="col-md-3"> 
                      <mat-form-field>
                        <mat-label>Tipo Enfermedad Mental</mat-label>
                        <mat-select formControlName= "tipo_enfermedad_mental" name="enfermedad_mental" [disabled]="isDisabledB4">
                          <mat-option *ngFor="let enfermedad_mental of enfermedades_mentaless" [value]="enfermedad_mental.value">
                            {{enfermedad_mental.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
          
                  <mat-divider></mat-divider>
          
                  <div>
                    <label id="example-radio-group-label">5. Convulsiones</label>
                    <p><mat-radio-group formControlName= "convulsiones" 
                      aria-labelledby="example-radio-group-label"
                      class="example-radio-group">        
                      <mat-radio-button value="Si" (click)="triggerSomeEventSiB5()">Si</mat-radio-button> &nbsp;   
                      <mat-radio-button value="No" (click)="triggerSomeEventNoB5()">No</mat-radio-button>
                      <mat-error style="margin-inline-start: 5px;" *ngIf="convulsiones.hasError('required')">campo requerido!</mat-error>
                    </mat-radio-group></p>
                  </div>
                  <div> 
                    <mat-form-field>
                      <mat-label>Parentesco</mat-label>
                      <mat-select formControlName= "observacion_convulsiones" name="observacion_convulsiones" [disabled]="isDisabledB5">
                        <mat-option *ngFor="let parentesco of parentescos" [value]="parentesco.value">
                          {{parentesco.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
          
                  <mat-divider></mat-divider>
          
                  <div>
                    <label id="example-radio-group-label">6. Alcoholismo o Sustancias Psicoactivas</label>
                    <p><mat-radio-group formControlName= "alcoholismo_sustancias_psicoactivas" 
                      aria-labelledby="example-radio-group-label"
                      class="example-radio-group">        
                      <mat-radio-button value="Si" (click)="triggerSomeEventSiB6()">Si</mat-radio-button> &nbsp;   
                      <mat-radio-button value="No" (click)="triggerSomeEventNoB6()">No</mat-radio-button>
                      <mat-error style="margin-inline-start: 5px;" *ngIf="alcoholismo_sustancias_psicoactivas.hasError('required')">campo requerido!</mat-error>         
                    </mat-radio-group></p>
          
                  </div>
                  <div> 
                    <mat-form-field>
                      <mat-label>Parentesco</mat-label>
                      <mat-select formControlName= "observacion_alcoholismo_sustancias_psicoactivas" name="observacion_alcoholismo_sustancias_psicoactivas" [disabled]="isDisabledB6">
                        <mat-option *ngFor="let parentesco of parentescos" [value]="parentesco.value">
                          {{parentesco.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
          
                  <mat-divider></mat-divider>
          
          
                  <div>
                    <label id="example-radio-group-label">7. Alergias</label>
                    <p><mat-radio-group formControlName= "alergias" 
                      aria-labelledby="example-radio-group-label"
                      class="example-radio-group">        
                      <mat-radio-button value="Si" (click)="triggerSomeEventSiB77()" >Si</mat-radio-button> &nbsp;   
                      <mat-radio-button value="No" (click)="triggerSomeEventNoB77()">No</mat-radio-button>
                      <mat-error style="margin-inline-start: 5px;" *ngIf="alergias.hasError('required')">campo requerido!</mat-error>      
                    </mat-radio-group></p>
                  </div>
                  <div class="row">
                    <div class="col-md-3"> 
                      <mat-form-field>
                        <mat-label>Parentesco</mat-label>
                        <mat-select formControlName= "observacion_alergias" name="observacion_alergias" [disabled]="isDisabledB77" >
                          <mat-option *ngFor="let parentesco of parentescos" [value]="parentesco.value">
                            {{parentesco.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
          
                    <div class="col-md-3"> 
                      <mat-form-field>
                        <mat-label>Tipo Alergia</mat-label>
                        <mat-select formControlName= "tipo_alergia" name="tipo_alergia" [disabled]="isDisabledB77">
                          <mat-option *ngFor="let alergia of tipos_alergias" [value]="alergia.value" >
                            {{alergia.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
          
                  <mat-divider></mat-divider>
          
                  <div>
                    <label id="example-radio-group-label">8. Cáncer</label>
                    <p><mat-radio-group formControlName= "cancer" 
                      aria-labelledby="example-radio-group-label"
                      class="example-radio-group">        
                      <mat-radio-button value="Si" (click)="triggerSomeEventSiB8()">Si</mat-radio-button> &nbsp;   
                      <mat-radio-button value="No" (click)="triggerSomeEventNoB8()">No</mat-radio-button>
                      <mat-error style="margin-inline-start: 5px;" *ngIf="cancer.hasError('required')">campo requerido!</mat-error>        
                    </mat-radio-group></p>
                  </div>
                  <div class="row">
                    <div class="col-md-3"> 
                      <mat-form-field>
                        <mat-label>Parentesco</mat-label>
                        <mat-select formControlName= "observacion_cancer" name="observacion_cancer" [disabled]="isDisabledB8">
                          <mat-option *ngFor="let parentesco of parentescos" [value]="parentesco.value">
                            {{parentesco.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
          
                    <div class="col-md-3"> 
                      <mat-form-field>
                        <mat-label>Tipo cáncer</mat-label>
                        <mat-select formControlName= "tipo_cancer" name="tipo_cancer" [disabled]="isDisabledB8">
                          <mat-option *ngFor="let cancer of canceres" [value]="cancer.value">
                            {{cancer.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  
                  <mat-divider></mat-divider>
          
                  <div>
                    <label id="example-radio-group-label">9. Hipertensión arterial</label>
                    <p><mat-radio-group formControlName= "hipertension_arterial" 
                      aria-labelledby="example-radio-group-label"
                      class="example-radio-group">        
                      <mat-radio-button value="Si" (click)="triggerSomeEventSiB9()">Si</mat-radio-button> &nbsp;   
                      <mat-radio-button value="No" (click)="triggerSomeEventNoB9()">No</mat-radio-button>
                      <mat-error style="margin-inline-start: 5px;" *ngIf="hipertension_arterial.hasError('required')">campo requerido!</mat-error>
                    </mat-radio-group></p>
                  </div>
                  <div> 
                    <mat-form-field>
                      <mat-label>Parentesco</mat-label>
                      <mat-select formControlName= "observacion_hipertension_arterial" name="observacion_hipertension_arterial" [disabled]="isDisabledB9">
                        <mat-option *ngFor="let parentesco of parentescos" [value]="parentesco.value">
                          {{parentesco.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
          
                  <mat-divider></mat-divider>
          
                  <div class="row">
                    <div class="col-md-3">
                      <mat-form-field>
                        <input matInput formControlName= "otros" name="otros" id="" placeholder="Otros">
                        <mat-error *ngIf="otros.hasError('maxlength')">campo muy extenso!</mat-error>
                        <mat-error *ngIf="otros.hasError('minlength')">introduzca una observación valida!</mat-error>
          
                      </mat-form-field>
                    </div>
          
                    <div class="col-md-3">
                      <mat-form-field>
                        <mat-label>Parentesco</mat-label>
                        <mat-select formControlName= "observacion_otros" name="observacion_otros">
                          <mat-option *ngFor="let parentesco of parentescos" [value]="parentesco.value">
                            {{parentesco.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <button mat-raised-button
                    class="btn btn-outline-primary float-right"
                    style="margin-top: 10px;"
                    (click)="readonly = !readonly; culitoPelado()">
                    {{!readonly ? 'Guardar' : 'Editar'}}
                  </button>
              </form>
            </div>


        
            <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
        </mat-expansion-panel>









        
        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
            <mat-expansion-panel-header>
            <mat-panel-title>
                Antecedentes personales
            </mat-panel-title>
            <mat-panel-description>
                Visualiazar Antecedentes personales del paciente
                <!-- <mat-icon>date_range</mat-icon> -->
            </mat-panel-description>
            </mat-expansion-panel-header>
        
            <mat-form-field>
            <input matInput placeholder="Date" [matDatepicker]="picker" (focus)="picker.open()" readonly>
            </mat-form-field>
            <mat-datepicker #picker></mat-datepicker>
        
            <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="nextStep()">End</button>
            </mat-action-row>
        </mat-expansion-panel>
    
    </mat-accordion>
</div>    
