.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container1{
  height: 90%;
  min-width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  overflow: auto;
  position: absolute;
  overflow-x: hidden;  
  /* background-color: rgb(225, 236, 250); */
}


.title {
  display: block;
  font-family: Poppins-Regular,sans-serif;
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  padding: 20px;
}

.example-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}
.example-full-width {
  width: 85%;
  justify-content: center;
}
.img{
  height: 100%;
  width: 100%;
  padding: 20px;
}
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background:  rgb(104, 71, 250); 
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}







/* Tamaño del scroll */
.container1::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

 /* Estilos barra (thumb) de scroll */
.container1::-webkit-scrollbar-thumb {
  background: rgb(104, 71, 250);
  border-radius: 4px;
}

.container1::-webkit-scrollbar-thumb:active {
  background-color: #1fb7f3;
}

.container1::-webkit-scrollbar-thumb:hover {
  background: #1100fd;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

 /* Estilos track de scroll */
.container1::-webkit-scrollbar-track {
  background: #a7a0ff;
  border-radius: 4px;
}

.container1::-webkit-scrollbar-track:hover, 
.container1::-webkit-scrollbar-track:active {
  background: #787bff;
}
