<div id="intro" class="view">
        <div class="full-bg-img">
              
          <div id="formstyle">
            <div>
               

                  <div class="bienvenida">
                    <h4 class="h4"> Bienvenido a Clínica UNAH-TEC Danlí</h4> 
                    <h6 class="h6"> Por favor ingrese su usuario y contraseña</h6>
                  </div>
                  <p></p>
                  
                   
                  <div> <div *ngIf="loading==true" > <mat-spinner class="loading"></mat-spinner></div> 
                  <div class="view" id="imagenpuma"></div></div>
      
                <form [formGroup]= "loginadministrador_form">
                  <div>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder=" Usuario" formControlName= "usuario" required>
                        <mat-label><mat-icon>person</mat-icon> <b>Usuario</b> </mat-label>
                        <mat-error *ngIf="usuario.hasError('required')">ingrese el usuario!</mat-error>
                        <mat-error *ngIf="usuario.hasError('pattern')">ingrese un usuario valido!</mat-error>
                      </mat-form-field>
                    </div>
                  <div>
                    <mat-form-field class="example-full-width">   
                      <input matInput  
                      placeholder="Ingrese su contraseña" [type]="hide ? 'password' : 'text'"
                      formControlName="contrasenia"> 
                      <mat-label><mat-icon>lock</mat-icon> <b>Contraseña</b> </mat-label>
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </button>
                      <mat-error *ngIf="contrasenia.hasError('required') ">ingrese la contraseña!</mat-error>
                    </mat-form-field>
                  </div>
                </form>
              


                <div><button class="boton" (click)="ingresar()">Ingresar</button></div>
        </div>
      </div> 