<div class="container">
    <form id="form" [formGroup]="formInventario">
        <mat-card style="margin-top: 15px;" [class.mat-elevation-z5]="true">


            <h2>Registro Inventario</h2>


            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label><b>Unidad</b></mat-label>
                <input matInput placeholder="Ingrese la cantidad de unidades" formControlName="unidad">
                <mat-hint align="end">{{unidad.value.length}} / 6</mat-hint>
                <mat-error *ngIf="unidad.hasError('required')">campo requerido</mat-error>
                <mat-error *ngIf="unidad.hasError('pattern')">Introduzca sólo números</mat-error>
                <mat-error *ngIf="unidad.hasError('minlength')">unidad muy corta</mat-error>
                <mat-error *ngIf="unidad.hasError('maxlength')">unidad muy extensa</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label><b>Ingrese el nombre del medicamento</b></mat-label>
                <input matInput placeholder="Ingrese el nombre del medicamento" formControlName="nombre">
                <mat-error *ngIf="nombre.hasError('required')">campo requerido</mat-error>
                <mat-error *ngIf="nombre.hasError('minlength')">nombre muy corto</mat-error>
                <mat-error *ngIf="nombre.hasError('maxlength')">nombre muy extenso</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label><b>Descripción</b></mat-label>
                <input matInput placeholder="Ingrese una descripción" formControlName="descripcion">
                <mat-error *ngIf="descripcion.hasError('minlength')">descripción muy corta</mat-error>
                <mat-error *ngIf="descripcion.hasError('maxlength')">descripción muy extensa</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label><b>Observación</b></mat-label>
                <input matInput placeholder="Ingrese una observación" formControlName="observacion">
                <mat-error *ngIf="observacion.hasError('minlength')">observación muy corta</mat-error>
                <mat-error *ngIf="observacion.hasError('maxlength')">observación muy extensa</mat-error>
            </mat-form-field>


            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label><b>Presentación</b></mat-label>
                <mat-select formControlName="presentacion">
                    <mat-option *ngFor="let presentacion of presentaciones" [value]="presentacion.value">
                        {{presentacion.viewValue}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="presentacion.hasError('required')">campo requerido</mat-error>
            </mat-form-field>

        </mat-card>

        <div>

            <button class="btn btn-outline-primary float-right botonperron"
                style="margin-top: 10px; margin-bottom: 10px;" (click)="comprobarDatos()">
                Guardar
            </button>
            <button class="btn btn-danger float-right" style="margin-top: 10px; margin-bottom: 10px;"
                [routerLink]="['/clínicaunahtec/inventario']">
                Cancelar
            </button>

        </div>

    </form>
</div>