<div class="container">
    <mat-card>
        <div>
            <div class="titulo"><h2 >Registro Inventario</h2></div> 
            <form  id="form" [formGroup]= "formInventario">
        
                <div class="col">
                <mat-form-field class="example-full-width">
                    <input  matInput placeholder="Unidad" formControlName= "unidad" required>
                    <mat-error *ngIf="unidad.hasError('required')">
                    <strong>campo requerido!</strong>
                    </mat-error>
                    <mat-error *ngIf="unidad.hasError('minLength') && unidad.hasError('maxLength')">
                    <strong>campo requerido!</strong>
                    </mat-error>
                </mat-form-field>
                </div>
        
                <div class="col">
                    <mat-form-field class="example-full-width">
                        <input  matInput placeholder="Ingrese el nombre" formControlName= "nombre" required>
                            <mat-error *ngIf="nombre.hasError('required')">
                                <strong>campo requerido!</strong>
                                </mat-error>
                            <mat-error *ngIf="nombre.hasError('minLength') && nombre.hasError('maxLength')">
                                <strong>campo requerido!</strong>
                            </mat-error>
                    </mat-form-field>     
                </div>

                <div class="col">
                    <mat-form-field class="example-full-width">
                        <input  matInput placeholder="Descripcion" formControlName= "descripcion" required>
                            <mat-error *ngIf="descripcion.hasError('required')">
                                <strong>campo requerido!</strong>
                            </mat-error>
                            <mat-error *ngIf="descripcion.hasError('minLength')">
                                <strong>campo requerido!</strong>
                            </mat-error>
                    </mat-form-field>     
                </div>

                <div class="col">
                        <mat-form-field class="example-full-width">
                            <input  matInput placeholder="Observacion" formControlName= "observacion" required>
                                <mat-error *ngIf="observacion.hasError('required')">
                                    <strong>campo requerido!</strong>
                                </mat-error>
                                <mat-error *ngIf="observacion.hasError('minLength')">
                                    <strong>campo requerido!</strong>
                                </mat-error>
                        </mat-form-field>     
                </div>

                <div >
                    <label  class="label">Presentacion</label>
                    <p><select placeholder="Observacion" class="example-full-width" id = "select" name="miselect" formControlName= "presentacion">
                        <option [value]="item" *ngFor="let item of lista">{{item}}</option>
                    </select></p>           
                </div>
            </form>
                        
        </div>
    </mat-card>
    
    <div >
        <button  mat-raised-button (click)="comprobarDatos()"  class="btn btn-outline-primary float-right botonperron" style="margin-top: 20px;"> Guardar</button>  
    </div>
</div>