<div class="container">

    <!-- <div class="top">
      <p>
          https://firestore-megachat.firebaseapp.com/chats/{{ chat.id }}
      </p>
    </div> -->


    <div class="chat">


        <div class="msg" *ngFor="let msg of chatList;">

            <div class="user">
                <!-- <img [src]="msg.user?.photoURL"> -->
                <div>{{ msg.messageUser}}</div>
            </div>

            <p>{{ msg.messageText }}</p>

        </div>

    </div>

    <div class="form" [formGroup]="mensaje_form">

        <input formControlName="mensaje" (keydown.enter)="enviarMensaje()">

        <button (click)="enviarMensaje()">Enviar</button>
    </div>


</div>