<span style=" display: block;
font-family: Poppins-Regular,sans-serif;
font-size: 30px;
color: #333;
line-height: 1.2;
text-align: center;
padding: 20px;">
    <strong>Recuperación de la contraseña</strong>
  </span>


<p>Si tienes problema para ingresar a tu cuenta, tu correo electrónico actualizado te permitirá hacerlo
</p>


<form [formGroup]="form_correo">
    <div>
        <mat-form-field style="width: 100%;" appearance="outline">
          <input matInput #inputCorreo type="email" placeholder="Ingresa el correo cuando te registraste"
            formControlName="correo" required>
          <mat-label>
            <mat-icon>mail</mat-icon>&nbsp; <b>Correo electrónico de recuperación</b>
          </mat-label>
          <mat-error *ngIf="correo.hasError('required')">correo requerido</mat-error>
          <mat-error *ngIf="correo.hasError('pattern')">ingrese un correo válido</mat-error>
        </mat-form-field>
      </div>

      <div style="position: inherit; bottom: 10px;right: 15px;">
        <button mat-raised-button (click)="enviarcorreorecu()" class="btn btn-outline-primary float-right botonperron">
            Enviar correo</button>
    </div>

</form>