html,
body,
header,
#intro{
height: 100%;
width:100%;
position: absolute;
margin:0px;
}

#intro{
    background: url('https://campusvirtual.unah.edu.hn/theme/image.php/bootstrapcampus/theme/1568312409/frontpage-bg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#imagenpuma{
  height: 100px;
  width:100px;
  margin:0px;
  background: url('src\imagenes\pumitafinal.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
  border-radius: 50px;
  margin-left: 90px;
  border: 3px solid #fff;
  margin-bottom: 25px;
  
}
mat-spinner{
  position: absolute;
  height: 100px;
  width: 200px;;
  left: 100px;

}
.label{
  margin-top: 5px;
  font-size: 30dp;
}

#formstyle{  
  -webkit-box-shadow: 0 30px 60px 0 rgba(228, 38, 38, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  
  padding-bottom: 50px; 
  margin-top: 50px;
    background-color: #3354FF  ;
    position: absolute;
    /*nos posicionamos en el centro del navegador*/
    top:45%;
    left:50%;
    /*determinamos una anchura*/
    width:310px;
    /*indicamos que el margen izquierdo, es la mitad de la anchura*/
    margin-left:-150px;
    /*determinamos una altura*/
    height:320px;
    /*indicamos que el margen superior, es la mitad de la altura*/
    margin-top:-150px;
    border:5px solid rgb(122, 22, 22) ;
    padding:10px;
    text-align: center;
  color: aliceblue;	/*IE*/
	filter: alpha(opacity=70);
	/*FireFox Opera*/
  opacity: .8;
  border-radius: 30px;
}




.example-full-width{
  border-radius: 20px;
  text-align: center;
  width:250px;
  color: #00f;
  
}
#show_password{
  background-color:   #00f;
  margin-left:-43px; 
  border-radius: 20px;
  opacity: .3;
}
.boton{
  width:80px;
  height:30px;
  background-color:#11119F ;
  color: #fff;
  margin: 5px;
  padding:-3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:11px;
  line-height:10px;
  text-transform: uppercase;
  text-align: center;
  ;
  }

  /* input[type=number]::-webkit-inner-spin-button{ 
    -webkit-appearance: none; 
    margin: 0; 
  } */