<div id="intro" class="view">
  <div class="full-bg-img">
        
    <div id="formstyle">
      <div>
           <div class="view" id="imagenpuma"></div>

              

              <div class="col">
                  <mat-form-field class="example-full-width">
                          <input ID="cuentalogin" type="number" name="cuentalogin"
                          maxlength="11"  oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                          class="input"  matInput placeholder="Ingrese su número de cuenta" required>
                  </mat-form-field>
                </div>
                  
           <div class="col">
              <mat-form-field class="example-full-width">
                      <input ID="inputPassword" type="password"  Class="input"
                      name="contrasenialogin" matInput placeholder="Ingrese su contraseña"
                      ngModel passwordToggle required>
              </mat-form-field>
            </div>
        

            </div>             
            <input type="submit" (click)="main()"   class="boton" >                             
            </div>
  </div>
</div>   

