<div id="intro" class="view">
    <div class="full-bg-img">
          
      <div id="formstyle">
        <div>
            
             <div class="bienvenida">
              <h4 class="h4"> Bienvenido a Clínica UNAH-TEC Danlí</h4> 
              <h6 class="h6"> Por favor ingrese su cuenta y contraseña</h6>
            </div>

            <p></p>
            
            <div> <div *ngIf="loading==true" > <mat-spinner class="loading"></mat-spinner></div>
            <div class="view" id="imagenpuma"></div></div> 
  
            <form [formGroup]= "login_form">
              <div>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Ingrese su cuenta" formControlName= "cuenta" required>
                    <mat-label><mat-icon>person</mat-icon>&nbsp;    <b>Cuenta</b> </mat-label>
                    <mat-error *ngIf="cuenta.hasError('required')">ingrese la cuenta!</mat-error>
                    <mat-error *ngIf="cuenta.hasError('pattern')">ingrese un numero de cuenta valido!</mat-error>
                  </mat-form-field>
                </div>
              <div>
                <mat-form-field class="example-full-width">                
                  <input matInput  
                  placeholder="Ingrese su contraseña" [type]="hide ? 'password' : 'text'"
                  formControlName="clave">
                  <mat-label><mat-icon>vpn_key</mat-icon> &nbsp;   <b>Contraseña</b> </mat-label>
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                  <mat-error *ngIf="clave.hasError('required') ">ingrese la contraseña!</mat-error>
                </mat-form-field>
              </div>
            </form>
          
            </div>  
             <div><button class="boton" (click)="comprobarDatos()">Ingresar</button></div>            
           
                                      
        </div>