<mat-sidenav-container class="example-container" *ngIf="!shouldRun">
    <mat-sidenav  #sidenav mode="over" [(opened)]="opened"  position="end" (opened)="events.push('open!')"
                 (closed)="events.push('close!')">
      
<div class="container">

    <form [formGroup]="formulario_datos_faltantes">
        <div class="container">
          <h2>Ingreso datos restantes</h2>
            <div class="row" >
              <mat-form-field  class="example-full-width" >
                <input  matInput formControlName="peso"  placeholder="Peso(en Kg)" >
                
                <mat-error *ngIf="peso.hasError('required')">campo requerido!</mat-error> 
                <mat-error *ngIf="peso.hasError('pattern')">No es un peso aceptable</mat-error>    
   
              </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="example-full-width" >
                  <input matInput formControlName="talla"  placeholder="Talla" >
                  
                  <mat-error *ngIf="talla.hasError('required')">campo requerido!</mat-error>  
                  <mat-error *ngIf="peso.hasError('pattern')">No es ballena</mat-error>    
  
                </mat-form-field>
              </div>
              <div class="row">
                  <mat-form-field class="example-full-width" >
                    <input matInput formControlName="imc"  placeholder="IMC" >
                    
                    <mat-error *ngIf="imc.hasError('required')">campo requerido!</mat-error>
                    <mat-error *ngIf="peso.hasError('pattern')">Ni que se estuvise muriendo</mat-error>    
    
                  </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="example-full-width" >
                      <input matInput formControlName="temperatura"  placeholder="Temperatura" >
                      
                      <mat-error *ngIf="temperatura.hasError('required')">campo requerido!</mat-error> 
                      <mat-error *ngIf="peso.hasError('pattern')">No es una temperatura aceptable</mat-error>    
   
                    </mat-form-field>
                  </div>
                  <div class="row">
                      <mat-form-field class="example-full-width" >
                        <input matInput formControlName="presion"  placeholder="Presion" >
                        
                        <mat-error *ngIf="presion.hasError('required')">campo requerido!</mat-error>    
                      </mat-form-field>
                    </div>

                    <div class="row">
                        <mat-form-field class="example-full-width" >
                          <input matInput formControlName="pulso"  placeholder="Pulso" >
                          
                          <mat-error *ngIf="pulso.hasError('required')">campo requerido!</mat-error>    
                        </mat-form-field>
                      </div>


                      <button  mat-raised-button  class="btn btn-outline-primary float-right" (click)="guardarDatos()">Guardar</button>

            </div>

        </form>
 
        


</div>
    </mat-sidenav>
  
    <mat-sidenav-content>

    <!--Desde aqui tenes que trabajar Brasa-->
      <p><button mat-button (click)="sidenav.toggle()">Abrir</button></p>

       
    </mat-sidenav-content>
    
  </mat-sidenav-container>
  






    




