<span style=" display: block;
font-family: Poppins-Regular,sans-serif;
font-size: 30px;
color: #333;
line-height: 1.2;
text-align: center;
padding: 20px;">
    <strong>Verificación</strong>
  </span>


  
    <p>Por seguridad, Clínica UNAH-TEC Danlí quiere confirmar tu identidad como administrador, 
        de manera que debes ingresar tu contraseña para la verificación</p>

    <form [formGroup]="formulario_verificar_clave">

        <mat-form-field  style="width: 100%;" appearance="outline">
            <mat-label>
                <b>Contraseña</b>
             </mat-label>


            <input matInput (keydown)="onKeydown($event)" placeholder="Ingresa tu contraseña"
               [type]="hide ? 'password' : 'text'"  formControlName="clave">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="clave.hasError('required') ">Ingresa la contraseña</mat-error>

        </mat-form-field>

            <div style="position: inherit; bottom: 10px;right: 15px;" >
            <button mat-raised-button (click)="salir()" class="btn btn-outline-primary float-right botonperron">Cancelar</button>
            <button  mat-raised-button (click)="guardar()" class="btn btn-outline-primary float-right botonperron" style="margin-right: 10px;">Verificar</button>
            </div>

    </form>