.intro{
  background-color: #fff;
}
  .example-container {
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 0;
    right: 0;
    background:rgb(253, 253, 253);
  margin-bottom: -2px; }

    .router-link-active{ 
       background-color: #B721FF;
      background-image: linear-gradient(135deg, #B721FF 0%, #21D4FD 100%);
      color: #fff;
    }
 
  .example-fill-remaining-space {
      flex: 1 1 auto;    
  }

  .title {
    display: block;
    font-family: Poppins-Regular,sans-serif;
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    padding: 20px;
}

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    font-size: 16px;
  }
  
  .example-full-width {
    width: 100%;
  }

  .hoveritem:hover{
    background-color: #21D4FD;
    background-image: linear-gradient(90deg, #21D4FD 0%, #B721FF 100%);
    color: #fff;
  }

  .toolbar{  
  background-color: #B721FF;
  background-image: linear-gradient(135deg, #B721FF 0%, #21D4FD 100%);
  color: #fff;
  margin-top: 0px;
  }
 
.container{
overflow: auto;
height: 100%;
min-width: 100px;  
background-color: #fff;
color: #fff;  
}

#contenidoPrincipal{
margin-top: 20px;
}


/* Tamaño del scroll */
.container::-webkit-scrollbar {
width: 8px;
height: 8px;
}

 /* Estilos barra (thumb) de scroll */
.container::-webkit-scrollbar-thumb {
  background: rgb(104, 71, 250);
  border-radius: 4px;
}

.container::-webkit-scrollbar-thumb:active {
  background-color: #1fb7f3;
}

.container::-webkit-scrollbar-thumb:hover {
  background: #1100fd;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

 /* Estilos track de scroll */
.container::-webkit-scrollbar-track {
  background: #a7a0ff;
  border-radius: 4px;
}

.container::-webkit-scrollbar-track:hover, 
.container::-webkit-scrollbar-track:active {
  background: #787bff;
}