<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pagina Principal</title>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
 <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
 <script src="../node_modules/pooper.js/dist/js/pooper.min.js"></script>
</head>
<body>

<div  class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        
        <div >
          <div >
            <img class="img-responsive img-rounded" src="https://www.unah.edu.hn/themes/portalunah/assets/images/logo-unah-blanco.png"
              alt="User picture">
              <div class="sidebar-brand">
                    <a style="text-align: center; color:aliceblue" [routerLink]="['/principal']" routerLinkActive="router-link-active" ><h5>Clinica UNAH Tec Danli</h5></a>
                    <div id="close-sidebar">
                      <i class="fas fa-times"></i>
                    </div>
                  </div>
          </div>
          
        </div>
      -->
        <!-- sidebar-header  -->
      
        <!-- sidebar-search  -->
        <!--
        <div class="sidebar-menu">
                <div class="col-12">
                        <div class="list-group" id="list-tab" role="tablist">
                          <a [routerLink]="['/at1']" class="list-group-item list-group-item-action" id="list-home-list" role="tab" aria-controls="home">At1</a>
                          <a [routerLink]="['/registroPaciente']" class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"  role="tab" aria-controls="profile">Pacientes</a>
                          <a [routerLink]="['/inventario']" class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Inventario</a>
                          <a [routerLink]="['/Consolidado']" class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Consolidado Diario</a>
                        </div>
                          
                        
                      </div>
        </div> -->
        <!-- sidebar-menu  -->
      
      <!-- sidebar-content  -->
    <!--
    </div>
      <div class="sidebar-footer">
            <a href="#">Ayuda?
              <i class="fa fa-bell"></i>
              
            </a>       
          </div>
    </nav>
    -->
    <!-- sidebar-wrapper  -->
    <!--
    <main class="page-content" style="margin-top: 0px">
    <nav class="navbar" style="background: #003399">
                    <a class="navbar-brand" style="color: aliceblue">Pagina principal</a>
                    <form class="form-inline">
                      <input class="form-control mr-sm-2" type="search" placeholder="Paciente" aria-label="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                    </form>
                  </nav>

                  <br>
                  <div class="container">
                        <router-outlet></router-outlet>
                    </div>

    
  
    </main>
    -->
    <!-- page-content" -->
  <!--
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/esm/popper.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js"></script>
  -->
  <!-- page-wrapper -->
    <!--
</body>
</html>
-->

<!--

<mat-sidenav-container class="example-container" >
  <mat-sidenav mode="side" opened>

      <div >
          <img class="img-responsive img-rounded" src="https://www.unah.edu.hn/themes/portalunah/assets/images/logo-unah-blanco.png"
            alt="User picture">
            <div class="sidebar-brand">
                  <a style="text-align: center; color:aliceblue" [routerLink]="['/principal']" routerLinkActive="router-link-active" ><h5>Clinica UNAH Tec Danli</h5></a>
                  <div id="close-sidebar">
                    <i class="fas fa-times"></i>
                  </div>
                </div>
        </div>
      
      <mat-expansion-panel [disabled]="isDisabled">
          <mat-expansion-panel-header style="font-size: 16px;">
            Pacientes
          </mat-expansion-panel-header>
          <mat-list role="list">
              <mat-action-list>
                  <button mat-list-item [routerLink]="['/principal']" routerLinkActive="router-link-active"> Alumnos </button>
                  <button mat-list-item [routerLink]="['/principal']" routerLinkActive="router-link-active"> Empleados </button>
                  <button mat-list-item [routerLink]="['/principal']" routerLinkActive="router-link-active"> Visitantes </button>
                  <button mat-list-item [routerLink]="['/principal']" routerLinkActive="router-link-active"> Prosene </button>
  
                </mat-action-list>
            </mat-list>
        </mat-expansion-panel>


        <mat-action-list>
            <button mat-list-item (click)="save()"> At1 </button>
            <button mat-list-item (click)="undo()"> Consolidado Diario </button>
            <button mat-list-item (click)="undo()"> Inventario </button>
            <button mat-list-item (click)="undo()"> Administradores </button>
            <button mat-list-item (click)="undo()"> Ayuda? </button>


          </mat-action-list>
        

    
        


  
    

  </mat-sidenav>
  <mat-sidenav-content>

      <mat-toolbar color="">
          
        
          <mat-toolbar-row>
            <span>Principal</span>
            <span class="example-spacer"></span>
            <span class="example-fill-remaining-space"></span>
            

              


          


             </mat-toolbar-row>
        
         
        </mat-toolbar>




         <li class="nav-item">
                                        <a class="nav-link" style="font-size: 18px" [routerLink]="['/registroPaciente']" routerLinkActive="router-link-active" >Estudiantes</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" style="font-size: 18px" [routerLink]="['/listadotrabajadores']" >Trabajadores</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link active" style="font-size: 18px" [routerLink]="['/listadoVisitantes']" >Visitantes</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link " style="font-size: 18px" [routerLink]="['/listadoProsene']" tabindex="-1" aria-disabled="true">Prosene</a>
                                      </li>
       






    

  </mat-sidenav-content>
</mat-sidenav-container>
-->


<div>
  
  <mat-toolbar>        
      <mat-toolbar-row class="toolbar"> 
        <span>Clinica UNAH-TEC Danlí</span>
        <span class="example-spacer"></span>
        <span class="example-fill-remaining-space"></span>
      </mat-toolbar-row>
  </mat-toolbar>





<mat-sidenav-container  class="example-container" >
  
<mat-sidenav  mode="side" opened>
<div class="container"> 
      <div >
          <img style="width: 226px; height: 150px;" class="img-responsive img-rounded" src="https://dircom.unah.edu.hn/dmsdocument/7509-unah-version-horizontal-png"
            alt="User picture">
            <div class="sidebar-brand">
                  <a style="text-align: center; color:black" [routerLink]="['/principal']" routerLinkActive="router-link-active" ><h5>Principal</h5></a>
                  <div id="close-sidebar">
                    <i class="fas fa-times"></i>
                  </div>
                </div>
        </div>
      
      <mat-expansion-panel [disabled]="isDisabled" class="expansion">
          <mat-expansion-panel-header style="font-size: 16px;">
            Pacientes
          </mat-expansion-panel-header>
          <mat-list role="list">
              <mat-action-list>
                  <button mat-list-item  [routerLink]="['/principal/registro']" routerLinkActive="router-link-active"> Alumnos </button>
                  <button mat-list-item [routerLink]="['/principal/listadotrabajadores']" routerLinkActive="router-link-active"> Empleados </button>
                  <button mat-list-item [routerLink]="['/principal/listadoVisitantes']" routerLinkActive="router-link-active"> Visitantes </button>
                  <button mat-list-item [routerLink]="['/principal/listadoProsene']" routerLinkActive="router-link-active"> Prosene </button>
  
                </mat-action-list>
            </mat-list>
        </mat-expansion-panel>


        <mat-action-list>
            <button mat-list-item [routerLink]="['/principal/at1']" routerLinkActive="router-link-active"> At1 </button>
            <button mat-list-item (click)="undo()"> Consolidado Diario </button>
            <button mat-list-item [routerLink]="['/principal/inventario']" routerLinkActive="router-link-active"> Inventario </button>
            <button mat-list-item (click)="undo()"> Administradores </button>
            <button mat-list-item (click)="undo()"> Ayuda? </button>


          </mat-action-list>
        

    
        


  
  </div>  

  </mat-sidenav>

  <mat-sidenav-content >

        

 


        <router-outlet></router-outlet>


    

  </mat-sidenav-content>

</mat-sidenav-container>

</div>

