<mat-card style="margin: 15px;" [class.mat-elevation-z20]="true"> 
                  <div class="container" style="margin:0px;margin-right: 0px;">
                    <div class="container" style="margin:0;margin-right: 0px;">
                        
                      <div style="text-align: center">
                      <h6>Universidad Nacional de Honduras</h6>
                      <h6>Vicerrectoria de Orientacion y Asuntos Estudiantiles</h6>
                      <h6>Dr:_____________________________ Fecha____________</h6>
                    </div>
                  </div>
  
  
                        <hr>
                        <div class="table-responsive">
                            <table class="table table-sm">
                              <tr>
                                  <th rowspan="2">No.</th>
                                  <th scope="col">No. Cuenta</th>
                                  <th scope="col">Carrera</th>
                                  <th scope="col">Sexo</th>
                                  <th scope="col">Edad</th>
                                  <th scope="col">Paciente</th>
                                  <th scope="col">Diagnostico 1</th>
                                  <th scope="col">N/S</th>
                                  <th scope="col">Diagnostico 2</th>
                                  <th scope="col">N/S</th>
                                  <th scope="col">Observacion</th>
                              </tr>
                              <tbody>
                                <tr>
                                  <td ></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                </tr>
                                  
                              </tbody>
                            </table>
                        </div>
                      
                  </div>
</mat-card>

    







