
                  <div class="container">
                    <div class="container">
                      <div style="text-align: center">
                      <h6>Universidad Nacional de Honduras</h6>
                      <h6>Vicerrectoria de Orientacion y Asuntos Estudiantiles</h6>
                      <h6>Dr:_____________________________ Fecha____________</h6>
                    </div>
                  </div>
  
  
                        <hr>
                        <div class="table-responsive">
                            <table class="table table-sm">
                              <tr>
                                  <th rowspan="2">No.</th>
                                  <th scope="col">No. Cuenta</th>
                                  <th scope="col">Carrera</th>
                                  <th scope="col">Sexo</th>
                                  <th scope="col">Edad</th>
                                  <th scope="col">Paciente</th>
                                  <th scope="col">Diagnostico 1</th>
                                  <th scope="col">N/S</th>
                                  <th scope="col">Diagnostico 2</th>
                                  <th scope="col">N/S</th>
                                  <th scope="col">Observacion</th>
                              </tr>
                              <tbody>
                                <tr>
                                  <td >Marvin Alejandro Garcia</td>
                                  <td>Informatica Administrativa</td>
                                  <td>M</td>
                                  <td>22</td>
                                  <td>NUevo</td>
                                  <td>Calentura</td>
                                  <td>N</td>
                                  <td>Gripe</td>
                                  <td>S</td>
                                  <td>Cita y examen </td>
                                </tr>
                                  
                              </tbody>
                            </table>
                        </div>
                  </div>


    







