<mat-card style="margin-top: 15px;" [class.mat-elevation-z5]="true">  
   <mat-tab-group dynamicHeight animationDuration="200ms" color="accent" backgroundColor="primary">
        <mat-tab label="Paciente">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                </ol>
                <div class="carousel-inner">
                <div class="carousel-item active" >
                    <div class="padre">
                        <div class="paciente" id="imagen"></div>
                    </div> 
                    <div class="carousel-caption d-none d-md-block" style="color: #000;">
                        <p>En el apartado de paciente se visualizarán cada uno de los pacientes 
                            los cuales han sido registrados en la plataforma y sus respectivas categorías.</p>
                      </div>
                </div>
                <div class="carousel-item" >
                    <div class="padre">
                        <div class="paciente1" id="imagen"></div>
                    </div> 
                    <div class="carousel-caption d-none d-md-block" style="color: #000;">
                        <p>A cada uno de los pacientes que se muestra en este apartado, se podrá 
                            visualizar toda la información referente a él haciendo “Click” sobre su respectivo nombre.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="padre">
                        <div class="paciente2" id="imagen"></div>
                    </div>
                    <div class="carousel-caption d-none d-md-block" style="color: #000;">
                        <p>Ver paciente: al dar click en cada uno de los acordeones se desplegará 
                        la información que estos contienen y donde se podrá editar dicha información.</p>
                  </div> 
                </div>
                <div class="carousel-item">
                    <div class="padre">
                        <div class="paciente3" id="imagen"></div>
                    </div> 
                    <div class="carousel-caption d-none d-md-block" style="color: #000;">
                        <p>En este menú se tendrán las opciones de añadir historia subsiguiente y ver 
                            citas. Al dar click en historia subsiguiente se mostrará un formulario que usted deberá llenar según lo que presente el paciente.</p>
                      </div>
                </div>
                <div class="carousel-item">
                    <div class="padre">
                        <div class="paciente4" id="imagen"></div>
                    </div>
                    <div class="carousel-caption d-none d-md-block" style="color: #000;">
                        <p>Al dar click en ver historias subsiguientes, podrá ver el registro de las 
                            consultas a las cuales ha asistido el paciente.</p>
                      </div> 
                </div>
                <div class="carousel-item">
                    <div class="padre">
                        <div class="paciente5" id="imagen"></div>
                    </div>
                    <div class="carousel-caption d-none d-md-block" style="color: #000;">
                        <p>Aquí podrá imprimir una constancia en caso de que el paciente la necesite.</p>
                      </div> 
                </div>
                <div class="carousel-item">
                    <div class="padre">
                        <div class="paciente6" id="imagen"></div>
                    </div> 
                    <div class="carousel-caption d-none d-md-block" style="color: #000;">
                        <p>Al dar click en el botón crear nuevo paciente, será redirigido a un formulario el cual
                             será necesario para elaborar la historia clínica del paciente.</p>
                      </div>
                </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Atras</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
                </a>
            </div>
        </mat-tab>
        <mat-tab label="At1">
            <div class="padre">
                <div class="at1" id="imagen"></div>
                </div>
                <div class="carousel-caption d-none d-md-block" style="color: #000;">
                    <p>En este apartado, se visualizarán todos lo registro diarios de los paciente 
                        que han asistido a la clínica. Estos datos se actualizarán diariamente.</p>
                  </div>
        </mat-tab>
        <mat-tab label="Consolidado"> 
            <div class="padre">
                <div class="consolidado" id="imagen"></div>
                </div>
                <div class="carousel-caption d-none d-md-block" style="color: #000;">
                    <p>En este apartado se visualizarán datos estadísticos 
                        referentes a los pacientes.</p>
                  </div>
        </mat-tab>
        <mat-tab label="Medicamento">
            <div class="padre">
                <div class="medicamento" id="imagen"></div>
                </div>
                <div class="carousel-caption d-none d-md-block" style="color: #000;">
                    <p>En este apartado se visualizaron los medicamentos en existencia
                         en la clínica. Donde podrá crear y editar cada uno de ellos.</p>
                  </div>
        </mat-tab>
        <mat-tab label="Usuarios">
            <div class="padre">
                <div class="usuario" id="imagen"></div>
                </div>
            <div class="carousel-caption d-none d-md-block" style="color: #000;">
                <p>En este apartado podrá visualizar los usuarios administradores y médicos. 
                    Donde podrá crear, editar y eliminar cada uno de ellos.</p>
            </div> 
        </mat-tab>
    </mat-tab-group>
</mat-card>
        