/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons"); /* other css */
html, body { 
    margin:0px;
    height: 100%;
    position: relative;
    
}
body { margin: 0; font-family:Poppins-Regular,sans-serif;
    overflow: hidden; }

    .background-red > .mat-simple-snackbar {
        background-color:  rgb(104, 71, 250); 
        color: #fff;
    
        justify-content: center;       
      }
      .mat-snack-bar-container{
          background: rgb(104, 71, 250); 
      }
      .toolbar{  
        background-color: #B721FF;
        background-image: linear-gradient(135deg, #B721FF 0%, #21D4FD 100%);
        color: #fff;
        margin-top: 0px;
        }
    .botonperron{
        color: #fff;
        border-radius: 5px;
        text-align: center;
        background-color: #21d4fd;
        background-image: linear-gradient(90deg,#21d4fd 0%,  #b721ff 100%);
    }
    .botonperron:hover{
        background-color: #b721ff;
        background-image: linear-gradient(90deg,  #b721ff 0%,#21d4fd, 100%);
        transition: all 1s ease;
    }
       
      
      
