/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons"); /* other css */
html, body { 
    margin:0px;
    height: 100%;
    position: relative;
    
}
body { margin: 0; font-family:Poppins-Regular,sans-serif;
    overflow: hidden; }

    .background-red > .mat-simple-snackbar {
        background-color:  rgb(104, 71, 250); 
        color: #fff;
    
        justify-content: center;       
      }
      .mat-snack-bar-container{
          background: rgb(104, 71, 250); 
      }

      .botonperron{
        color: #fff;
        border-radius: 5px;         
        text-align: center;
        background-color: #21D4FD;
        background-image: linear-gradient(90deg, #21D4FD 0%, #B721FF 100%);
        }  
        .botonperron:hover {
        background-color: #B721FF;
        background-image: linear-gradient(90deg, #B721FF 0%, #21D4FD 100%);
        transition: all 1s ease;
        } 
      
      
