/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons"); /* other css */
html, body { 
    margin:0px;
    height: 100%;
    position: relative;
    
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: hidden; }

    .background-red > .mat-simple-snackbar {
        background-color:  rgb(104, 71, 250); 
        color: #fff;
    
        justify-content: center;       
      }
      .mat-snack-bar-container{
          background: rgb(104, 71, 250); 
      }
      
      
