<mat-horizontal-stepper linear #stepper>
  <mat-step>
    <ng-template matStepLabel>Datos Generales</ng-template>
    <div class="container">
      <div class="row">
        <div class="col">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Primer Apellido">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Segundo Apellido">
          </mat-form-field>
        </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Primer Nombre">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Segundo Nombre">
            </mat-form-field>
          </div>
        </div>
                  
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="N° Cuenta">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="N° Identidad">
            </mat-form-field>
          </div>
        </div>
          
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width">
              <input matInput name="lugar_procedencia" placeholder="Lugar de Procedencia">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width">
              <input matInput  name="carrera" placeholder="Carrera">
            </mat-form-field>
          </div>
        </div>
  
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width">
              <input matInput name="direccion" id="" placeholder="Direccion">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width">
              <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Fecha Nacimiento">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>    
  
        <hr>
        
        <div class="row">
          <div class="col"> 
            <mat-form-field>
              <mat-label>Sexo</mat-label>
                <mat-select [(ngModel)]="sexoSeleccionado" name="sexo">
                  <mat-option *ngFor="let sexo of sexos" [value]="sexo.value">
                  {{sexo.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <p> sexo seleccionado: {{sexoSeleccionado}} </p>
          </div>
  
  
          <div class="col"> 
            <mat-form-field>
              <mat-label>Seguro Medico</mat-label>
              <mat-select [(ngModel)]="seguroMedicoSeleccionado" name="seguro_medico">
                <mat-option *ngFor="let seguro_medico of seguros_medicos" [value]="seguro_medico.value">
                  {{seguro_medico.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <p>seguro medico seleccionado: {{seguroMedicoSeleccionado}} </p>
          </div>
  
          <div class="col"> 
            <mat-form-field>
              <mat-label>Estado Civil</mat-label>
              <mat-select [(ngModel)]="estadoCivilSeleccionado" name="estado_civil">
                <mat-option *ngFor="let estado_civil of estados_civiles" [value]="estado_civil.value">
                  {{estado_civil.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <p>seguro medico seleccionado: {{estadoCivilSeleccionado}} </p>
          </div>
        </div>
                      
        <br/>
  
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width">
              <input matInput type= "number" name="numero_telefono" id="telefono" placeholder="N° Telefono">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width">
              <input matInput type= "number"name="emergencia_telefono" id="" placeholder="Telefono de emergencia">
            </mat-form-field>
          </div>
        </div>
        <button mat-raised-button matStepperNext class="btn btn-outline-primary float-right">Siguiente</button>
    </div>
  </mat-step>
  <mat-step>

    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Antecedente familiares</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Antecedente Personales</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel>Habitos Toxicologicos Personales</ng-template>
      
  </mat-step>
  <mat-step>
      <ng-template matStepLabel>Actividad Sexual Y Reproductiva</ng-template>
      
  </mat-step>
  <mat-step>
      <ng-template matStepLabel>Antecedentes Ginecologicos</ng-template>
      
  </mat-step>
  <mat-step>
      <ng-template matStepLabel>Planificacion Familiar</ng-template>
      
  </mat-step>
  <mat-step>
      <ng-template matStepLabel>Antecedentes Obstetricos</ng-template>
      
  </mat-step>
</mat-horizontal-stepper>

