mat-tab-group {
  margin: 25px;
}

mat-horizontal-stepper{
  height: 100%;
  width: 100%;
  padding: 15px;
  justify-content: center;
}

#spin{
  position: absolute;
   top: 50%;
   left: 50%;
}

.container{
  /* height: 450px; */
  height: 80%;
  min-width: 99%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  overflow: auto;
  position: absolute;
  overflow-x: hidden;   
  top:30;
  left:0;
  
}


/* Tamaño del scroll */
.container::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

 /* Estilos barra (thumb) de scroll */
.container::-webkit-scrollbar-thumb {
  background: rgb(104, 71, 250);
  border-radius: 4px;
}

.container::-webkit-scrollbar-thumb:active {
  background-color: #1fb7f3;
}

.container::-webkit-scrollbar-thumb:hover {
  background: #1100fd;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

 /* Estilos track de scroll */
.container::-webkit-scrollbar-track {
  background: #a7a0ff;
  border-radius: 4px;
}

.container::-webkit-scrollbar-track:hover, 
.container::-webkit-scrollbar-track:active {
  background: #787bff;
}









.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.col {
  text-align: center;
}

h2{
  margin-bottom: 20px;
}

mat-divider {
  margin-bottom: 16px;
}

.medium-width{
  width: 50%;
}

/*radio buttons */
.example-radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}