mat-tab-group {
  margin: 25px;
}

mat-horizontal-stepper{
  height: 100%;
}

.container{
  height: 450px;
  padding: 20px;
  overflow: auto;

}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.col {
  text-align: center;
}