<div class="container">
  <div class="row" id="contenedor">
    <div class="col-3"></div>
    <div class="col-6">
<mat-card style="margin: 15px;" [class.mat-elevation-z20]="true"> 
                        
                     
  
  
    <!-- <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field> -->
    <h5>Sexo</h5>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="sexo">
        <th mat-header-cell *matHeaderCellDef> Sexo </th>
        <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
      </ng-container>

      <ng-container matColumnDef="m">
        <th mat-header-cell *matHeaderCellDef> Maculino </th>
        <td mat-cell *matCellDef="let element"> {{element.masculino}} </td>
      </ng-container>

      <ng-container matColumnDef="f">
        <th mat-header-cell *matHeaderCellDef> Femenino </th>
        <td mat-cell *matCellDef="let element"> {{element.femenino}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let element"> {{element.masculino + element.femenino}} </td>
      </ng-container>
   
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    

   <BR>
   <br>
      <h5>Rango de Edad</h5>
      <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">
  
        <ng-container matColumnDef="sexo">
          <th mat-header-cell *matHeaderCellDef> Menor 19 Años </th>
          <td mat-cell *matCellDef="let element"> {{element.menos19}} </td>
        </ng-container>
  
        <ng-container matColumnDef="m">
          <th mat-header-cell *matHeaderCellDef> 20-24 </th>
          <td mat-cell *matCellDef="let element"> {{element.primerRango}} </td>
        </ng-container>
  
        <ng-container matColumnDef="f">
          <th mat-header-cell *matHeaderCellDef> 25-29 </th>
          <td mat-cell *matCellDef="let element"> {{element.segundoRango}} </td>
        </ng-container>
  
        <!-- Position Column -->
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> mayor a 30</th>
          <td mat-cell *matCellDef="let element"> {{element.tercerRango}} </td>
        </ng-container>
        <ng-container matColumnDef="total2">
          <th mat-header-cell *matHeaderCellDef> Total </th>
          <td mat-cell *matCellDef="let element"> {{element.cuartoRango}} </td>
        </ng-container>
     
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
      </table>

</mat-card>
</div>
<div class="col-3"></div>
</div>
</div>