
    <mat-card style="margin: 15px;" [class.mat-elevation-z5]="true" >
      <mat-tab-group dynamicHeight animationDuration="200ms" mat-align-tabs="center" color="accent"
      style="width: 100%;background: rgba(9, 29, 248, 0.774);color: white;" >
        
  
        <!--Sexo-->
        <mat-tab label="Sexo" style="color: white;">   
            
          <div class="row">
            <div class="col" style="text-align: center;">
              <label  >Hombre:  {{elemetos[0].masculino}}</label>
            </div>
            <div class="col" style="text-align: center;">
              <label  >Mujeres:  {{elemetos[0].femenino}}</label>
            </div>
            <div class="col"  style="text-align: center;">
              <label  >Total:  {{elemetos[0].masculino + elemetos[0].femenino}}</label>
            </div>          
          </div>
     
          <div class="row">            
          <ngx-charts-bar-vertical style="fill: white;"  [scheme]="colorSchemesexo" [results]="singlesexo" [gradient]="gradientsexo"
          [xAxis]="showXAxissexo" [yAxis]="showYAxissexo" [legend]="showLegendsexo" [showXAxisLabel]="showXAxisLabelsexo"
          [showYAxisLabel]="showYAxisLabelsexo" [xAxisLabel]="xAxisLabelsexo" [yAxisLabel]="yAxisLabelsexo"
          (select)="onSelect($event)" legendTitle="Sexos">       
        </ngx-charts-bar-vertical>
        </div>
        </mat-tab>

       
       
       
       
       
        <!--Rango edades-->
        <mat-tab label="Rango edades" >
        
        <div class="row">
          <div class="col" style="text-align: center;">
            <label  >Menor de 19 Años:  {{edad[0].menos19}}</label>
          </div>
          <div class="col" style="text-align: center;">
            <label  >Entre 20-24 años:  {{edad[0].primerRango}}</label>
          </div>
          <div class="col"  style="text-align: center;">
            <label  >Entre 25-29 años:  {{edad[0].segundoRango}}</label>
          </div> 
          <div class="col"  style="text-align: center;">
            <label  >Mayor de 30 años:  {{edad[0].tercerRango}}</label>
          </div> 
          <div class="col"  style="text-align: center;">
            <label  >Total: {{edad[0].cuartoRango}}</label>
          </div>          
        </div>

       <div class="row">
        <ngx-charts-bar-vertical style="fill: white;"  [scheme]="colorScheme" [results]="singleedad" [gradient]="gradient"
        [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)" legendTitle="Categorias">       
      </ngx-charts-bar-vertical>
      </div>
        </mat-tab>
        
  
      </mat-tab-group>
    </mat-card>
