<span style=" display: block;
font-family: Poppins-Regular,sans-serif;
font-size: 30px;
color: #333;
line-height: 1.2;
text-align: center;
padding: 20px;">
    <strong>Cambiar contraseña</strong>
  </span>




    <form [formGroup]="cambiarContraForm">


        <mat-form-field style="width: 100%;" appearance="outline">
            <input matInput placeholder="Ingrese la contraseña actual" formControlName="contraseniaActual"
                [type]="esconderContraActual ? 'password' : 'text'" required>
            <mat-label> <b>Contraseña actual</b> </mat-label>
            <button mat-icon-button matSuffix (click)="esconderContraActual = !esconderContraActual"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="esconderContraActual">
                <mat-icon>{{esconderContraActual ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="contraseniaActual.hasError('required')">
                <strong>Campo requerido</strong>
            </mat-error>
            <mat-error *ngIf="contraseniaActual.hasError('minLength') && contraseniaActual.hasError('maxLength')">
                <strong>Contraseña invalida</strong>
            </mat-error>
        </mat-form-field>

        <br>

        <mat-form-field style="width: 100%;" appearance="outline">
            <input matInput placeholder="Ingrese la nueva contraseña" formControlName="contraseniaNueva"
                [type]="esconderContraNueva ? 'password' : 'text'" required>
            <mat-label> <b>Nueva contraseña</b> </mat-label>
            <button mat-icon-button matSuffix (click)="esconderContraNueva = !esconderContraNueva"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="esconderContraNueva">
                <mat-icon>{{esconderContraNueva ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="contraseniaNueva.hasError('required')">
                <strong>Campo requerido</strong>
            </mat-error>
            <mat-error *ngIf="contraseniaNueva.hasError('minLength') && contraseniaNueva.hasError('maxLength')">
                <strong>Contraseña invalida</strong>
            </mat-error>
        </mat-form-field>

        <br>

        <mat-form-field style="width: 100%;" appearance="outline">
            <input matInput placeholder="Ingrese la contraseña actual" formControlName="confirmarContrasenia"
                [type]="esconderContraConfirmada ? 'password' : 'text'" required>
            <mat-label> <b>Confirmar la nueva contraseña</b> </mat-label>
            <button mat-icon-button matSuffix (click)="esconderContraConfirmada = !esconderContraConfirmada"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="esconderContraConfirmada">
                <mat-icon>{{esconderContraConfirmada ? 'visibility_off ' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="confirmarContrasenia.hasError('required')">
                <strong>Campo requerido</strong>
            </mat-error>
            <mat-error *ngIf="confirmarContrasenia.hasError('minLength') && confirmarContrasenia.hasError('maxLength')">
                <strong>Contraseña invalida</strong>
            </mat-error>
        </mat-form-field>



        <div style="position: inherit; bottom: 10px;right: 15px;">
            <button mat-raised-button (click)="cambiarContra()" class="btn btn-outline-primary float-right botonperron">
                Guardar</button>

            <button mat-raised-button (click)="salir()" class="btn btn-outline-primary float-right botonperron" style="margin-right: 10px;">
                Cancelar</button>
        </div>



    </form>