.example-full-width{
    width: 80%;
    margin-top: 10px;
    text-align: left;
  }
  .titulo{
    text-align: center;
  }  
  #label{
    font-size: 10dp;
    color: rgb(35, 35, 36);
  }
  #form{   
      text-align: center;
      width: 100%;
  }
  
  .errorverificacion{
  color:rgb(122, 22, 22);
  }
  
  
  
  .boton{
    height:30px;
    background-color:rgb(104, 71, 250);  
    color: #fff;  
    line-height:10px;
    text-transform: uppercase;
    margin-right: 10%;   
    }
  
    input[type=number]::-webkit-inner-spin-button{ 
      -webkit-appearance: none; 
      margin: 0; 
    }