
        
<div class="container">
<form  id="form" [formGroup]= "medicos_form">
<mat-card  style="margin-top: 15px;" [class.mat-elevation-z20]="true"> 
  <div class="titulo"><h2 >Registro Medicos</h2></div> 

  <mat-form-field class="example-full-width">
          <input  matInput placeholder="Usuario" formControlName= "usuario" required>
          <mat-error *ngIf="usuario.hasError('required')">
              <strong>ingrese el usuario</strong>
            </mat-error>
            <mat-error *ngIf="usuario.hasError('minLength') && usuario.hasError('maxLength')">
              <strong>usuario invalido</strong>
            </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
            <input matInput (keydown)="onKeydown($event)"   placeholder="Ingrese la contraseña" formControlName= "contrasenia" [type]="hide1 ? 'text' : 'password'" required>
            <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                <mat-icon>{{hide1 ? 'visibility' : 'visibility_off '}}</mat-icon>
                </button>
            <mat-error *ngIf="contrasenia.hasError('required')">
                <strong>ingrese la contrasenia</strong>
              </mat-error>
              <mat-error *ngIf="contrasenia.hasError('minLength') && contrasenia.hasError('maxLength')">
                <strong>contrasenia invalida</strong>
              </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
            <input  matInput (keydown)="onKeydown($event)"  placeholder="Confirme la contraseña" formControlName= "contraseniaC" [type]="hide ? 'password' : 'text'" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            <mat-error *ngIf="contraseniaC.hasError('required')">
                <strong>Confirme la contrasenia</strong>
              </mat-error>
              <mat-error *ngIf="contraseniaC.hasError('minLength') && contraseniaC.hasError('maxLength')">
                <strong>contrasenia no confirmada</strong>
              </mat-error>
    </mat-form-field>     
    
    <mat-form-field class="example-full-width">
            <input  matInput  placeholder="Ingrese nombre completo" formControlName= "nombre" required>
            <mat-error *ngIf="nombre.hasError('required')">
                <strong>Escriba su nombre completo</strong>
              </mat-error>
              <mat-error *ngIf="nombre.hasError('minLength') && nombre.hasError('maxLength')">
                <strong>Escriba su nombre completo</strong>
              </mat-error>
    </mat-form-field>     
      
    <mat-form-field class="example-full-width">
            <input  matInput placeholder="Ingrese número de indentidad" formControlName= "identidad" required>
            <mat-error *ngIf="identidad.hasError('required')">
                <strong>Escriba correctamente el numero de identidad</strong>
              </mat-error>
              <mat-error *ngIf="identidad.hasError('minLength') && identidad.hasError('maxLength')">
                <strong>Escriba correctamente el numero de identidad</strong>
              </mat-error>
    </mat-form-field>     
        

   <!-- <div >
    <label  class="label">Especialidad</label>
    <p><select class="example-full-width" id = "select" name="miselect" formControlName= "especialidad">
    <option [value]="item" *ngFor="let item of lista">{{item}}</option>
    </select></p>           
    </div> -->

    <div class="col"> 
      <mat-form-field  class="example-full-width">
        <mat-label>Especialidad</mat-label>
        <mat-select formControlName= "especialidad" >
          <mat-option *ngFor="let especialidad of especialidades" [value]="especialidad.value">
            {{especialidad.viewValue}}
          </mat-option>
        </mat-select>
      <mat-error *ngIf="especialidad.hasError('required')">campo requerido!</mat-error>

      </mat-form-field>
    </div>

<div style="text-align: right;">
    <button  (click)="comprobarDatos()"  mat-raised-button class="boton" > Guardar</button>  
</div> 

</mat-card>  
<div >
    <button  mat-raised-button (click)="comprobarDatos()"  class="btn btn-outline-primary float-right botonperron" style="margin-top: 20px;margin-bottom: 15px;"> Guardar</button>  
</div>
</form>
</div>